chassis/Projects/RmBoardA/DebugConfig
chassis/Projects/RmBoardA/Listings
chassis/Projects/RmBoardA/Objects
chassis/JLinkLog.txt
chassis/JLinkSettings.ini
chassis/EventRecorderStub.scvd
chassis/cheatsheet.md
chassis/*.uvoptx
chassis/*.Administrator
chassis/.VSCodeCounter/
chassis/*.lst
chassis/*.map
chassis/*.dbgconf

gimbal/Projects/RmBoardC/DebugConfig
gimbal/Projects/RmBoardC/Listings
gimbal/Projects/RmBoardC/Objects
gimbal/JLinkLog.txt
gimbal/JLinkSettings.ini
gimbal/EventRecorderStub.scvd
gimbal/cheatsheet.md
gimbal/*.uvoptx
gimbal/*.Administrator
gimbal/.VSCodeCounter/
gimbal/*.lst
gimbal/*.map
gimbal/*.dbgconf
